<h1>Recap Documents Charges</h1>

<ul>
  <li>Factures (EDF, eau, tel…) </li>
  <li>Remboursement Credit</li>
  <li>Taxes habitation</li>
  <li>Taxe foncière</li>
  <li>Quittance Loyer</li>
  <li>Certificats scolarité</li>
  <li>Assurance véhicule</li>
  <li>Assurance vie</li>
  <li>Assurance autres</li>
</ul>


