<h1>Recap Documents Charges</h1>

<ul>
  <li>Factures (EDF, eau, tel…) </li>

  <%= if current_user.credit_nb > 0 %>
  <%= for  %>
    <li>Remboursement Credit</li>


  <li>Taxe habitation</li>
  <li>Taxe foncière</li>
  <li>Quittance Loyer</li>
  <li>Certificats scolarité</li>
  <li>Assurance véhicule</li>
  <li>Assurance vie</li>
  <li>Assurance autres</li>
</ul>


