<h1>Recap Documents Revenus</h1>


<ul>
  <% if current_user.status_pro == "Salarié" %>
    <li>Dernier Bulletin de Salaire</li>
    <li>Bulletin de Salaire du mois de décembre de l’année précédente</li>
  <% elsif current_user.status_pro == "Chef d'entreprise" %>
    <li>Trois derniers Bilan Entreprise</li>
  <% elsif current_user.status_pro == "Sans emploi" %>
    <li>Attestation Chômage (check exact document) </li>
  <% elsif current_user.status_pro == "Libéral" %>
    <li>Trois dernières Déclaration de Revenus professionnels </li>
  <% end %>

  <% if current_user.statut_pro_conjoint == "Salarié" %>
    <li>Dernier Bulletin de Salaire du conjoint </li>
    <li>Bulletin de Salaire du mois de décembre de l’année précédente du conjoint </li>
  <% elsif current_user.statut_pro_conjoint == "Chef d'entreprise" %>
    <li>Trois derniers Bilan Entreprise du conjoint </li>
  <% elsif current_user.statut_pro_conjoint == "Sans emploi" %>
    <li>Attestation Chômage (check exact document) du conjoint </li>
  <% elsif current_user.statut_pro_conjoint == "Libéral" %>
    <li>Trois dernières Déclaration de Revenus professionnels du conjoint </li>
  <% end %>

  <li>Trois derniers avis d’imposition</li>
  <li>Titre de propriété </li>
  <li>Revenues Fonciers </li>


  <% if current_user.bank_account_nb > 0 %>
    <% for i in 1..(current_user.bank_account_nb) %>
      <li>Relevés du <%= i %>er compte</li>
    <% end %>
  <% end %>

  <% if current_user.child_nb > 0 %>
    <li>Relevé de la CAF</li>
  <% end %>


  <% if current_user.child_nb > 0 %>
    <% for i in 1..(current_user.bank_account_nb) %>
      <li>Carte Grise de votre <%= i %>er véhicule</li>
    <% end %>
  <% end %>

</ul>

<%= link_to "Revenir au questionnaire", revenue_path %>
<%= link_to "Poursuivez au questionnaire suivant", charge_path %>



