<h1>Recap Documents Revenus</h1>


<ul>
  <li>Dernier Bulletin de Salaire</li>
  <li>Bulletin de Salaire du mois de décembre de l’année précédente</li>
  <li>Trois derniers Bilan Entreprise</li>
  <li>Attestation Chômage (check exact document) </li>
  <li>Trois dernières Déclaration de Revenus professionnels </li>
  <li>Trois derniers avis d’imposition</li>
  <li>Titre de propriété </li>
  <li>Revenues Fonciers </li>
  <li>Relevés de tous les comptes</li>
  <li>Relevé de la CaCarte Grise véhiculeActe de Mariage</li>
</ul>



